<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <script src="/scripts/cuisine.js" type="module"></script>
    <title>Personal Chef</title>
</head>
<body>
    <nav>
        <img src="../assets/logo.png" alt="cooking-logo" id="logo">
        <div id="title">Personal Chef</div>
    </nav>
    <main>
        <div id="cuisine-title"></div>
        <hr>
        <div id="cuisine-container"></div>
    </main>
</body>
</html>