<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <script src="/scripts/recipe.js" type="module"></script>
    <title>Personal Chef - Recipe</title>
</head>
<body>
    <nav>
        <img src="../assets/logo.png" alt="cooking-logo" id="logo">
        <div id="title">Personal Chef</div>
    </nav>
    <main>
        <div id="recipe-title"></div>
        <hr>
        <div id="recipe-head">
            <div id="main-recipe"></div>
            <div id="ingredients">Hi</div>
        </div>
        <hr>
        <div id="instructions"></div>
    </main>
</body>
</html>