@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    height: 3.5em;
    padding: 2em;
    background-image: linear-gradient(to right, rgb(60, 108, 197), rgb(231, 135, 231));
    color: white;
}

body {
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

#input-todo {
    width: 30em;
    height: 1.7em;
    border: none;
    padding: .25em;
    padding-left: .25em;
    margin: .75em;
    margin-right: 0;
    background-color: rgb(192, 192, 192);
}

#input-todo::placeholder { 
    color: black;
    opacity: 1;
  }

#addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 2em;
    height: 1.35em;
    font-size: 1.35em;
    margin: .5em;
    margin-left: 0;
    margin-top: .47em;
    background-color: rgb(117, 180, 117);
    cursor: pointer;
}

#add {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    width: 100vw;
    min-height: 200px;
    padding-top: 1em;
}

h2 {
    margin-bottom: 1em;
}

h1 {
    font-size: 2em;
    margin-bottom: .25em;
}

.box {
    display: flex;
    align-items: center;
    width: 90%;
    height: 3.5em;
    margin: .5em;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 2em;
    padding-right: 2em;
}

.box-check {
    margin-left: auto;
}

.deleteTask {
    width: 1em;
    height: 1em;
    font-size: 1.5em;
    margin-left: .5em;
    color: red;
    border: none;
    cursor: pointer;
    background-color: white;
}

.task-list {
    width: 100vw;
    min-height: 30.5em;
    margin-top: -1.10em;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20em;
    height: 100vh;
    background-color: rgb(226, 225, 225);
    margin-top: -1.10em;
}

#filter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
}

#counter {
    margin: .5em;
}